<form id="editCohortForm" data-cohort-id="<%=(typeof cohort !== 'undefined' && typeof cohort._id !== 'undefined')? cohort._id : ''; %>">
  <div class="<%= (typeof cohort === 'undefined') ? 'modal-body' : '' ; %>">
    <div class="form-group">
      <label for="cohortName">Cohort Name</label>
      <input type="text" class="form-control" id="cohortName" aria-describedby="cohortNameHelp" placeholder="French Class, Management Team, Frisbee Buddies, etc…" value="<%= (typeof cohort !== 'undefined' && typeof cohort.name === 'string') ? cohort.name : '' ; %>">
      <small id="cohortNameHelp" class="form-text text-muted">Give your cohort a descriptive name. This name will be visible to the members of your cohort.</small>
    </div>
    <div class="form-group">
      <label for="cohortMemberEmails">Cohort Members</label>
      <input type="text" class="form-control tokenfield" id="cohortMemberEmails" aria-describedby="cohortNameHelp" data-inputType="email" placeholder="steve@apple.com, bill@microsoft.com, mark@facebook.com…" data-tokens="<%= (typeof cohort !== 'undefined' && typeof cohort.members !== 'undefined') ? cohort.members.join(',') : ''; %>">
      <small id="cohortNameHelp" class="form-text text-muted">Type or paste the email addresses of the members of this cohort, separated by a comma, space, or newline. Any non-email items will be ignored.</small>
    </div>
    <h6>Cohort Demographic Questions</h6>
    <p class="form-text text-muted">
      Cohort members will be asked to respond to any demographic questions you define the first time they respond to your survey. These questions can be used to gather information about your cohort members that will not change. For example, a professor could ask students about their field of study and class year. You can then analyse your survey responses segmented by the responses to the demographic questions.
    </p>
    <%
    let demographicQuestions = []
    if (typeof cohort === 'object') {
      demographicQuestions = cohort.demographicQuestions
    }
    %>
    <%- include('editQuestions', { questions: demographicQuestions }) %>
  </div>
  <div class="<%= (typeof cohort === 'undefined') ? 'modal-footer' : '' ; %>">
    <% if (typeof cohort === 'undefined') { %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <% } %>
    <button type="submit" class="btn btn-primary"><%= (typeof cohort === 'undefined') ? 'Create New Cohort' : 'Save Cohort' ; %></button>
  </div>
</form>
