<form id="editSurveyForm">
  <div class="<%= (typeof survey === 'undefined') ? 'modal-body' : '' ; %>">
    <input type="hidden" id="cohort-id" value="<%= (typeof survey !=='undefined' && typeof survey.cohort !== 'undefined') ? survey.cohort : '' %>">
    <input type="hidden" id="survey-id" value="<%= (typeof survey !=='undefined' && typeof survey._id !== 'undefined') ? survey._id : '' %>">
    <div class="form-group">
      <label for="surveyName">Survey Name</label>
      <input type="text" class="form-control" id="surveyName" aria-describedby="surveyNameHelp" placeholder="Lecture Feedback, Board Meeting Feedback, Half-Time Snacks Feedback, etc…" value="<%= (typeof survey !=='undefined' && typeof survey.name === 'string') ? survey.name : '' %>">
      <small id="surveyNameHelp" class="form-text text-muted">Give your survey a descriptive name.</small>
    </div>
    <div class="form-group">
      <label for="surveyURL">Survey URL</label>
      <input type="text" class="form-control" id="surveyURL" aria-describedby="surveyURLHelp" placeholder="https://www.example.com/form?id=abc123" value="<%= (typeof survey !=='undefined' && typeof survey.surveyURL === 'string') ? survey.surveyURL : '' %>">
      <small id="surveyURLHelp" class="form-text text-muted">The web address where your users can find your survey. Use Google Forms, Typeform, or some other system for online forms.</small>
    </div>
    <div class="form-group">
      <label for="surveyScheduleDatepicker">When should your survey be sent?</label>
    </div>
    <div class="row form-group">
      <div class="col">
        <label for="surveySendTime">Survey Send Days</label>
        <div id="surveyScheduleDatepicker" aria-describedby="surveyScheduleDatepickerHelp" data-date-multidate="true" data-date-week-start="1" data-date-today-highlight="true" data-date="<%= (typeof survey !=='undefined' && typeof survey.sendDates !== 'undefined') ? survey.sendDates.map(date => date.toJSON()).join() : '' %>"></div>
        <small id="surveyScheduleDatepickerHelp" class="form-text text-muted">
          Select the days on which your survey should be sent.
        </small>
      </div>
      <div class="col">
        <label for="surveySendTime">Survey Send Time</label>
        <input type="text" class="form-control" id="surveySendTime" aria-describedby="surveySendTimeHelp" data-time="<%= (typeof survey !=='undefined' && typeof survey.sendDates !== 'undefined' && survey.sendDates.length > 0) ? survey.sendDates[0].toJSON() : '' %>" placeholder="3:15pm, 13:20, 9am, etc…">
        <small id="surveySendTimeHelp" class="form-text text-muted">
          Write the time of day that this survey should be sent to the members of this cohort.
        </small>
      </div>
    </div>
    <h6>Survey Questions</h6>
    <p class="form-text text-muted">
      Cohort members will be asked to respond to the questions you define at the time and dates you selected above.
    </p>
    <%
    let surveyQuestions = []
    if (typeof survey === 'object') {
      surveyQuestions = survey.questions
    }
    %>
    <%- include('editQuestions', { questions: surveyQuestions }) %>
  </div>
  <div class="<%= (typeof survey === 'undefined') ? 'modal-footer' : '' ; %>">
    <% if (typeof survey === 'undefined') { %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <% } %>
    <button type="submit" class="btn btn-primary"><%= (typeof survey === 'undefined') ? 'Create New Survey' : 'Save Survey' ; %></button>
  </div>
</form>
