<form id="editSurveyForm">
  <div class="<%= (typeof survey === 'undefined') ? 'modal-body' : '' ; %>">
    <input type="hidden" id="cohort-id" value="<%= (typeof survey !=='undefined' && typeof survey.cohort !== 'undefined') ? survey.cohort : '' %>">
    <input type="hidden" id="survey-id" value="<%= (typeof survey !=='undefined' && typeof survey._id !== 'undefined') ? survey._id : '' %>">
    <h4>Survey Basics</h4>
    <div class="form-group">
      <label for="surveyName">Survey Name</label>
      <input type="text" class="form-control" id="surveyName" aria-describedby="surveyNameHelp" placeholder="Lecture Feedback, Board Meeting Feedback, Half-Time Snacks Feedback, etc…" value="<%= (typeof survey !=='undefined' && typeof survey.name === 'string') ? survey.name : '' %>">
      <small id="surveyNameHelp" class="form-text text-muted">Give your survey a descriptive name. This name will be visible to the respondents of your survey.</small>
    </div>
    <h4 class="mt-4">Survey Schedule</h4>
    <div class="form-row form-group">
      <div class="col">
        <label for="surveySendTime">Survey Send Days</label>
        <div id="surveyScheduleDatepicker" aria-describedby="surveyScheduleDatepickerHelp" data-date-multidate="true" data-date-week-start="1" data-date-today-highlight="true" data-date="<%= (typeof survey !=='undefined' && typeof survey.surveys !== 'undefined') ? survey.surveys.map(survey => survey.date.toJSON()).join() : '' %>"></div>
        <small id="surveyScheduleDatepickerHelp" class="form-text text-muted">
          Select the days on which your survey should be sent.
        </small>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Survey Names</label>
          <small id="surveyNamesHelp" class="form-text text-muted">
            You can assign descriptive names to each survey date to provide context to you and your survey respondents. If you do not assign descriptive names, the survey date will be used.
          </small>
          <% if (typeof survey !== 'undefined' && survey.surveys) { %>
            <table style="width: 100%" id="surveyNames">
              <% for (let thisSurvey of survey.surveys) { %>
                <tr>
                  <td><label class="text-nowrap mr-2 mt-1">Survey Name:</label></td>
                  <td>
                    <input type="text" class="form-control form-control-sm survey-name-item" aria-describedby="surveyNamesHelp" value="<%= thisSurvey.name %>" placeholder="Survey Name" data-date="<%= thisSurvey.date.getTime() %>">
                  </td>
                </tr>
              <% } %>
            </table>
          <% } %>
        </div>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col">
        <div class="form-group">
          <label for="surveySendTime">Survey Send Time</label>
          <input type="text" class="form-control" id="surveySendTime" aria-describedby="surveySendTimeHelp" placeholder="3:15pm, 13:20, 9am, etc…">
          <small id="surveySendTimeHelp" class="form-text text-muted">
            Write the time of day that this survey should be sent to the members of this cohort.
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="surveySendTime">Survey Response Acceptance Period Duration</label>
          <div class="input-group mb-3">
            <input type="number" class="form-control" id="surveyResponseAcceptancePeriod" aria-describedby="surveyResponsePeriodHelp" step="0.01" value="<%= (typeof survey !== 'undefined') ? survey.responseAcceptancePeriod : ''; %>">
            <div class="input-group-append">
              <span class="input-group-text">days</span>
            </div>
          </div>
          <small id="surveyResponsePeriodHelp" class="form-text text-muted">
            Write the number of days after sending the survey for which you want the survey to accept responses. Decimal days (such as 2.5) are permitted. A reminder email will automatically be sent half-way through the response acceptance period.
          </small>
        </div>
      </div>
    </div>

    <h4 class="mt-4">Survey Questions</h4>
    <p class="form-text text-muted">
      Cohort members will be asked to respond to the questions you define at the time and dates you selected above.
    </p>
    <%
    let surveyQuestions = []
    if (typeof survey === 'object') {
      surveyQuestions = survey.questions
    }
    %>
    <%- include('editQuestions', { questions: surveyQuestions }) %>
  </div>
  <div class="<%= (typeof survey === 'undefined') ? 'modal-footer' : '' ; %>">
    <% if (typeof survey === 'undefined') { %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <% } %>
    <button type="submit" class="btn btn-primary"><%= (typeof survey === 'undefined') ? 'Create New Survey' : 'Save Survey' ; %></button>
  </div>
</form>
