<div class="form-group row">
  <div class="col col-sm-10 offset-sm-2 text-muted">
    A text question asks the respondent to write a response.
  </div>
</div>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-2 col-form-label">Text Area Size</label>
  <div class="col-sm-10">
    <% const question_name = 'textAreaSize_' + ((typeof question !== 'undefined' && typeof question.id === 'string') ? question.id : Math.random()) %>
    <div class="form-check">
      <input class="form-check-input" data-question-attribute="textAreaSize" type="radio" name="<%=question_name;%>" id="<%=question_name;%>_small" value="small" <%= ((typeof question === 'object' && typeof question.textAreaSize === 'string' && question.textAreaSize === 'small') || (typeof question === 'object' && typeof question.textAreaSize !== 'string') || (typeof question !== 'object')) ? 'checked' : ''; %>>
      <label class="form-check-label" for="<%=question_name;%>_small">One-line Text Area</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" data-question-attribute="textAreaSize" type="radio" name="<%=question_name;%>" id="<%=question_name;%>_large" value="large" <%= (typeof question === 'object' && typeof question.textAreaSize === 'string' && question.textAreaSize === 'large') ? 'checked' : ''; %>>
      <label class="form-check-label" for="<%=question_name;%>_large">Multiple-line Text Area</label>
    </div>
    <small class="form-text text-muted">Choose how large you would like the text area to be.</small>
  </div>
</div>
