<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<div class="container my-5">
  <h1 class="display-4">Welcome<% if (username) { %>, <%= username %><% } %></h1>
  <hr class="my-4">

  <h2>Your Cohorts and Surveys</h2>
  <p>A cohort is a group of people who you want to survey. A cohort could be the students in a class, the members of a sports club, or a team in a company. You can create an unlilmited number of cohorts, and archive any cohorts you no longer need.</p>
  <% if (cohorts && cohorts.length > 0) { %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Cohort Name</th>
        <th scope="col" class="text-center">Number of Members</th>
        <th class="text-center">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newCohortModal">Create New Cohort</button>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% for (let cohortIndex in cohorts) { %>
          <% let cohort = cohorts[cohortIndex]%>

          <tr>
            <td><%=cohort.name%></td>
            <td class="text-center"><%=(cohort.membersCount)?cohort.membersCount:0%></td>
            <td class="text-center">
              <a href="/cohorts/<%=cohort._id%>/edit" class="btn btn-primary btn-sm">Edit Cohort</a>
            </td>
            <td class="text-center">
              <% if (cohort.archived) { %>
                <a href="/api/cohorts/<%=cohort._id%>/unarchive" class="btn btn-outline-primary btn-sm">Unarchive Cohort</button>
              <% } else { %>
                <a href="/api/cohorts/<%=cohort._id%>/archive" class="btn btn-outline-primary btn-sm">Archive Cohort</button>
              <% } %>
          </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% } else { %>
    <div class="text-center my-4">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newCohortModal">Create New Cohort</button>
    </div>
  <% }%>
  <% if (archivedCount > 0) { %>
    <div class="text-center">
      <a href="/?archived" class="btn btn-outline-secondary btn-sm">Show <%=archivedCount%> Archived Cohort<%=(archivedCount !== 0)?'s':'';%></a>
    </div>
  <% } %>
</div>

<!-- Modal For Creating New Cohort -->
<div class="modal fade" id="newCohortModal" tabindex="-1" role="dialog" aria-labelledby="newCohortModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCohortModalLabel">Create a New Cohort</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="newCohortForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="cohortName">Cohort Name</label>
            <input type="text" class="form-control" id="cohortName" aria-describedby="cohortNameHelp" placeholder="French Class, Management Team, Frisbee Buddies, etc…">
            <small id="cohortNameHelp" class="form-text text-muted">Give your cohort a descriptive name.</small>
          </div>
          <div class="form-group">
            <label for="cohortMemberEmails">Cohort Members</label>
            <input type="text" class="form-control tokenfield" id="cohortMemberEmails" aria-describedby="cohortNameHelp" data-inputType="email" placeholder="steve@apple.com, bill@microsoft.com, mark@facebook.com…">
            <small id="cohortMemberEmailsHelp" class="form-text text-muted">Type or paste the email addresses of the members of this cohort, separated by a comma or newline.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create New Cohort</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('./partials/feet'); %>
