<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<div class="container my-5">
  <%
  const pageSubtitles = ['What shall we ask today?', 'Who shall we ask today?', 'What can we learn today?', 'How can we improve today?']
  const pageSubtitle = pageSubtitles[Math.floor(Math.random() * pageSubtitles.length)];
  %>
  <h1 class="d-inline display-4">Keep Asking</h1>
  <!-- <h2 class="text-muted"><%= pageSubtitle %></h2> -->
  <!-- <h2 class="text-muted"><%= pageSubtitle %></h2> -->
  <!-- <h1 class="display-4">Welcome<% if (username) { %>, <%= username %><% } %></h1> -->
  <hr class="my-4">

  <h2>Your Cohorts and Surveys</h2>
  <p>A cohort is a group of people who you want to survey. A cohort could be the students in a class, the members of a sports club, or a team in a company. You can create an unlilmited number of cohorts, and archive any cohorts you no longer need.</p>
  <% if (cohorts && cohorts.length > 0) { %>
    <% for (let cohort of cohorts) { %>
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row">
            <div class="mr-auto">
              <h3>
                <%= cohort.name %>
              </h3>
            </div>
            <div class="mx-md-2 my-1">
              <a href="/cohorts/<%=cohort._id%>/edit" class="btn btn-outline-primary btn-sm">Edit Cohort</a>
              <a href="/api/cohorts/<%=cohort._id%>/archive?status=<%=(cohort.archived)?'false':'true';%>" class="btn btn-outline-primary btn-sm"><%=(cohort.archived)?'Unarchive':'Archive';%> Cohort</a>
              <a href="/cohorts/<%=cohort._id%>/survey/new" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#newSurveyModal" data-cohort-id="<%=cohort._id%>">Create New Survey</a>
            </div>
          </div>

          <div>
            <%
            const pluralise = function (noun, count) {
              return noun + ((count !== 1) ? 's' : '');
            }
            const membersCount = cohort.membersCount || 0
            const surveySetCount = cohort.surveySets.length || 0
            const demographicQuestionsCount = cohort.demographicQuestionsCount || 0

            const membersPhrase = [membersCount, 'Cohort', pluralise('Member', membersCount)].join('&nbsp;')
            const surveysPhrase = [surveySetCount, pluralise('Survey', surveySetCount)].join('&nbsp;')
            const demographicQuestionsPhrase = [demographicQuestionsCount, 'Demographic', pluralise('Question', demographicQuestionsCount)].join('&nbsp;')
            %>
            <%- [membersPhrase, surveysPhrase, demographicQuestionsPhrase].join(', ') %>
          </div>
          <% if (cohort.surveySets) { %>
            <% for (let surveySet of cohort.surveySets) { %>
              <div class="d-flex flex-column flex-md-row">
                <div class="mt-2">
                  <h5>
                    <%= surveySet.name %>
                  </h5>
                  <a class="btn btn-outline-primary btn-sm" href="/cohorts/<%=cohort._id%>/surveys/<%=surveySet._id%>/edit">Edit Survey</a>
                  <a class="btn btn-outline-primary btn-sm" href="/cohorts/<%=cohort._id%>/surveys/<%=surveySet._id%>/preview">Preview Survey</a>
                  <a class="btn btn-outline-primary btn-sm" href="/cohorts/<%=cohort._id%>/surveys/<%=surveySet._id%>/results">View Survey Results</a>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>
    <% } %>
  <% } %>
    <div class="text-center my-4">
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#newCohortModal">Create New Cohort</button>
      <% if (archivedCount > 0) { %>
        <a href="/?archived" class="btn btn-outline-secondary">Show <%=archivedCount%> Archived Cohort<%=(archivedCount !== 0)?'s':'';%></a>
      <% } %>
    </div>
</div>

<!-- Modal For Creating New Cohort -->
<%- include('./partials/formModal', {formName: 'Cohort'}); %>

<!-- Modal For Creating New Survey -->
<%- include('./partials/formModal', {formName: 'Survey'}); %>

<%- include('./partials/feet'); %>
