<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
  <div class="container my-5">
    <h1 class="display-4">Profile</h1>
    <% if (setupProfile) { %>
      <div class="alert alert-primary" role="alert">
        Please check your email address is correct and enter your name.
      </div>
    <% } %>
    <% if (profileSaved) { %>
      <div class="alert alert-success" role="alert">
        Your profile has been saved.
      </div>
    <% } %>
    <form id="profile" action="/profile" method="post">
      <% if (setupProfile) { %>
        <input type="hidden" name="destination" value="/">
      <% } %>
      <input type="hidden" name="_id" value="<%= (user && user._id) ? user._id : ''; %>">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="hello@example.com" value="<%= (user && user.email) ? user.email : ''; %>">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" name="name[givenName]" id="first-name" value="<%= (user && user.name && user.name.givenName) ? user.name.givenName : ''; %>" autocomplete="given-name">
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" name="name[familyName]" id="last-name" value="<%= (user && user.name && user.name.familyName) ? user.name.familyName : ''; %>" autocomplete="family-name">
      </div>
      <button type="submit" class="btn btn-primary">Save Profile</button>
    </form>
  </div>

<%- include('./partials/feet'); %>
