<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<div class="container my-5">
  <h1><%= surveySet.name %> <span class="text-muted">Results</span></h1>
  <h5><span class="text-muted">Cohort:</span> <%= surveySet.cohort.name %></h5>
  <div class="card my-4">
    <div class="card-body">
      <h3>Response Frequency</h3>
      <table class="table">
        <tr>
          <td>Survey Date</td>
          <% for (let survey of surveySet.surveys) { %>
            <td>
              <%= survey.sendDateText %>
            </td>
          <% } %>
        </tr>
        <tr>
          <td>Response Rate</td>
          <% for (let survey of surveySet.surveys) { %>
            <td>
              <% if (survey.sendDate > new Date()) { %>
                <span class="font-italic text-muted">Future</span>
              <% } else { %>
                <%= (survey.responses.length / surveySet.cohort.members.length * 100).toFixed(0) %>&nbsp;%
              <% }%>
            </td>
          <% } %>
        </tr>
        <tr>
          <td></td>
          <% for (let survey of surveySet.surveys) { %>
            <td>
              <% if (survey.sendDate <= new Date()) { %>
                <div class="btn btn-outline-primary btn-sm resend-survey-email-trigger" data-cohort-id="<%= surveySet.cohort._id %>" data-surveyset-id="<%= surveySet._id %>" data-survey-id="<%= survey._id %>">Remind Members</div>
              <% } else { %>
                <span class="font-italic text-muted">Future</span>
              <% }%>
            </td>
          <% } %>
        </tr>
      </table>
    </div>
  </div>
  <div class="card my-4">
    <div class="card-body">
      <h3>Cohort Member Demographics</h3>
      <div class="text-muted">Still to come…</div>
      <!-- <table class="table">
        <tr>
          <td>Survey Date</td>
          <% for (survey of surveySet.surveys) { %>
            <td>
              <%= survey.sendDateText %>
            </td>
          <% } %>
        </tr>
        <tr>
          <td>Response Rate</td>
          <% for (survey of surveySet.surveys) { %>
            <td>
              <% if (survey.sendDate > new Date()) { %>
                <span class="font-italic text-muted">Future</span>
              <% } else { %>
                <%= (survey.responses.length / surveySet.cohort.members.length * 100).toFixed(0) %>&nbsp;%
              <% }%>
            </td>
          <% } %>
        </tr>
      </table> -->
    </div>
  </div>
  <hr>
  <h2>Survey Questions</h2>
  <% for (let question of surveySet.questions) { %>
    <%- include('./partials/questionResponseTemplates/baseTemplate', {question, surveySet}) %>
  <% } %>
  <div>
    <code><%= JSON.stringify(surveySet) %></code>
  </div>
</div>

<%- include('./partials/feet'); %>
