<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<div class="container my-5">
  <h1><%= surveySet.name %> <span class="text-muted">Results</span></h1>
  <h5><span class="text-muted">Cohort:</span> <%= surveySet.cohort.name %></h5>
  <div class="alert alert-success alert-reminder" style="display: none;" role="alert">
    Reminder emails were successfully sent to the <span id="emailSendCount"></span> member<span id="emailSendCountPlural">s</span> of this cohort who have not responded to the <span id="emailSendSurveyLabel"></span> survey.
  </div>
  <div class="alert alert-danger alert-reminder" style="display: none;" role="alert">
    An error occured and reminder emails could not be sent.
  </div>
  <div class="card my-4">
    <div class="card-body">
      <h3 class="card-title">Response Frequency</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Survey</th>
            <% for (let survey of surveySet.surveys) { %>
              <th>
                <%= survey.name %>
                <small class="d-block" data-display-date="<%= survey.sendDate.getTime() %>" data-display-date-format="D MMM Y"></small>
              </th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Response Rate</th>
            <% for (let survey of surveySet.surveys) { %>
              <td>
                <% if (survey.sendDate > new Date()) { %>
                  <span class="font-italic text-muted">Future</span>
                <% } else { %>
                  <%= (survey.responses.length / surveySet.cohort.members.length * 100).toFixed(0) %>&nbsp;%
                <% }%>
              </td>
            <% } %>
          </tr>
          <tr>
            <td></td>
            <% for (let survey of surveySet.surveys) { %>
              <td>
                <% if (survey.sendDate <= new Date()) { %>
                  <div class="btn btn-outline-primary btn-sm resend-survey-email-trigger" data-cohort-id="<%= surveySet.cohort._id %>" data-surveyset-id="<%= surveySet._id %>" data-survey-id="<%= survey._id %>">Remind Members</div>
                <% } else { %>
                  <span class="font-italic text-muted">Future</span>
                <% }%>
              </td>
            <% } %>
          </tr>
        </tbody>
      </table>
      <small class="text-muted">Clicking "Remind Members" will send an email reminding the members of this cohort who have not yet responded to the survey to submit their response.</small>
    </div>
  </div>
  <div class="card my-4">
    <div class="card-body">
      <h3 class="card-title">Cohort Member Demographics</h3>
      <div class="text-muted">[Under construction]</div>
    </div>
  </div>
  <hr>
  <h2>Survey Responses</h2>
  <div class="card bg-light my-4">
    <div class="card-body">
      <h3 class="card-title">Filter Survey Results</h3>
      <p class="text-muted">
        You can filter survey results based on the cohort's demographic questions.
      </p>
      <form class="form">
        <div class="row">
          <div class="col">
            <h5>Demographic Question</h5>
            <select class="custom-select" id="demographicQuestionFilter">
              <option val="" label="Do Not Filter Responses"></option>
              <% for (let question of surveySet.cohort.demographicQuestions) {
                let filterOptions = []

                switch (question.kind) {
                  case 'text':
                    filterOptions = surveySet.respondents.map(respondent => {
                      if (!respondent.demographicQuestionResponses) return
                      const thisDemographicQuestionAnswer = respondent.demographicQuestionResponses.find(response => response.id === question.id)
                      if (thisDemographicQuestionAnswer && thisDemographicQuestionAnswer.answer){
                        return thisDemographicQuestionAnswer.answer
                      }
                    }).filter(val => typeof val !== 'undefined')
                    break
                  case 'choice':
                    filterOptions = question.options
                    break
                  case 'scale':
                    filterOptions = [question.options[0], question.options[1]]
                    break
                }
                %>
                <option value="<%=question.id%>" label="<%=question.title%>" data-response-values="<%= JSON.stringify(filterOptions) %>" data-question-type="<%=question.kind%>"></option>
              <% } %>
            </select>
          </div>
          <div class="col">
            <h5>Included Demographic Question Answers</h5>
            <small class="text-muted">
              Respondents who answered with any of the answers you select will be included in the survey results displayed below.
            </small>
            <div id="demographicQuestionFilterOptions">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="surveyResults" data-cohort-id="<%= surveySet.cohort._id %>" data-surveyset-id="<%= surveySet._id %>">
    <%- include('./partials/resultsQuestionAnswers.ejs', {surveySet}) %>
  </div>
</div>

<%- include('./partials/feet'); %>
