<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
  <div class="container my-5">
    <h1 class="display-4"><%= survey.cohort.name %></h1>
    <h2 class="display-5"><%= survey.surveySet.name %> Survey</h2>
    <hr>
    <form>
      <% for (question of survey.surveySet.questions) { %>
        <%- include('./partials/questionRespondingTemplates/baseTemplate', {question}) %>
      <% } %>
    </form>
  </div>

<%- include('./partials/feet'); %>
