<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
  <div class="container my-5">
    <h1 class="display-4"><%= survey.cohort.name %></h1>
    <h2 class="display-5"><%= survey.surveySet.name %> Survey</h2>
    <% if (preview) { %>
      <div class="alert alert-warning" role="alert" data-survey-preview="true">
        You are viewing a preview of this survey. This preview is only accessible to you, the owner of this survey, while you are logged in to your Keep&nbsp;Asking account. Any information submitted through this preview form will not be saved.
      </div>
    <% } %>
    <hr>
    <form id="survey" data-cohort-id="<%= survey.cohort._id %>" data-surveyset-id="<%= survey.surveySet._id %>" data-survey-id="<%= survey._id %>" data-respondent-email="<%= respondentEmail %>" data-response-hash="<%= responseHash %>">
      <% for (question of demographicQuestionsToAsk) { %>
        <%- include('./partials/questionRespondingTemplates/baseTemplate', {question, demographic: true}) %>
      <% } %>
      <% for (question of survey.surveySet.questions) { %>
        <%- include('./partials/questionRespondingTemplates/baseTemplate', {question}) %>
      <% } %>
      <div class="<%= (typeof survey === 'undefined') ? 'modal-footer' : '' ; %>">
        <button type="submit" class="btn btn-primary btn-lg">Submit Response</button>
      </div>
    </form>
    <div class="alert alert-success survey-completion-alert" role="alert" style="display: none;">
      Your response has been successfully submitted.
    </div>
    <div class="alert alert-danger survey-completion-alert" role="alert" style="display: none;">
      An error occured and your response may not have been successfully submitted. Please try again later.
    </div>
    <div class="alert alert-info survey-completion-alert" role="alert" style="display: none;">
      You are in preview mode, so your response was not submitted.
    </div>
  </div>

<%- include('./partials/feet'); %>
