<div class="card my-4">
  <div class="card-body">
    <h3 class="card-title"><%= question.title %></h3>
    <% if (question.kind === 'rank') { %>
      <%- include('./' + question.kind + 'QuestionTemplate') %>
    <% } else { %>
      <table class="table">
        <thead>
          <th style="width: 200px">Survey</th>
          <th>Responses</th>
        </thead>
        <tbody>
          <% for (let responseDate in question.responses) { %>
            <tr>
              <td>
                <% const survey = surveySet.surveys.find(survey => survey.sendDate.getTime() === Number.parseInt(responseDate)) %>
                <%= survey.name %>
                <small class="d-block" data-display-date="<%= responseDate %>" data-display-date-format="D MMM Y"></small>
              </td>
              <td>
                <div style="max-height: 200px; overflow-y: scroll;">
                  <%- include('./' + question.kind + 'QuestionTemplate', {responseDate}) %>
                </div>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } %>
  </div>
</div>
