<div class="card form-group form-question" data-question-id="<%= question.id %>" data-question-type="<%= question.kind %>" <%= (typeof demographic !== 'undefined' && demographic === true) ? 'data-question-demographic' : '' ; %>>
  <div class="card-body">
    <div class="form-group row">
      <div class="col">
        <label class="h3 card-title" for="<%=question.id%>"><%= question.title %></label>
        <%- include('./' + question.kind + 'QuestionTemplate') %>
      </div>
    </div>
  </div>
</div>
