<div class="form-group">
  <div class="d-flex justify-content-between scale">
    <label for="<%= question.id %>-1" class="d-flex align-items-center justify-content-center">
      <%= question.options[0]%>
    </label>
    <% for (let i = 1; i <= 5; i++) { %>
      <label class="d-flex align-items-center justify-content-center">
        <input type="radio" class="position-static" name="<%= question.id %>" value="<%= i %>" id="<%= question.id %>-<%= i %>" />
      </label>
    <% } %>
    <label for="<%= question.id %>-5" class="d-flex align-items-center justify-content-center">
      <%= question.options[1]%>
    </label>
  </div>
</div>
