<p>
  Hello,
</p>
<p>
  I am using Keep Asking to conduct periodic surveys about <%= cohortName %>. I would like you to join me as a co-owner of this cohort. This will allow you to create surveys for <%= cohortName %> and view the results from surveys I've previously created.
</p>
<p>
  Please <a href="<%- acceptInvitationURL %>">join me as a co-owner of <%= cohortName %></a>. This invitation link will expire in 7 days.
</p>
<p>
  Thank you,
</p>
<p>
  <%= user.fullName %>
</p>
<br>
<p style="font-size: 10px;">
  You are receiving this email because <%= user.fullName %> invited you to join as a co-owner of the Keep Asking survey cohort "<%= cohortName %>". To stop receiving these emails, please contact <%= user.fullName %>. Keep Asking is located at 35 Olden Street, Princeton, New Jersey, USA.
</p>
