<p>
  Hello,
</p>
<p>
  I am conducting a periodic survey about <%= emailTopic %> <%= (typeof survey !== 'undefined' && survey.name)? `(${survey.name}) ` : ''; %>as part of <%= locals.survey.cohort.name %>. I would like to learn about your experiences and opinions with respect to this topic. Your response is important for identifying areas of improvement and tracking progress.
</p>
<p>
  Please <a href="<%- surveyURL %>">complete the <%= emailTopic %> survey</a> within the next <%= survey.surveySet.responseAcceptancePeriod %> day<%= (survey.surveySet.responseAcceptancePeriod !== 1) ? 's' : ''; %>.
</p>
<p>
  Thank you,
</p>
<p>
  <%= locals.owner.name.givenName + ' ' + locals.owner.name.familyName %>
</p>
<br>
<p style="font-size: 10px;">
  You are receiving this email because <%= locals.owner.name.givenName + ' ' + locals.owner.name.familyName %> added you to a Keep Asking survey cohort. To stop receiving these emails, please contact <%= locals.owner.name.givenName + ' ' + locals.owner.name.familyName %>. Keep Asking is located at 35 Olden Street, Princeton, New Jersey, USA.
</p>
